body{
    background-color: rgb(240, 240, 238);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#registroForm{
    background-color: rgb(219, 220, 207);
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    margin: 10px;
    padding: 25px;
}

label{
    display: block;
    margin-bottom: 5px;
}

label.inline{
    display: inline-block;
}

input, select{
    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 8px;
}

input[type="checkbox"]{
    margin-bottom: 15px;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
select{
width: 100%;
}

input[type="submit"]{
    background-color: rgb(125, 151, 125);
    border: none;
    border-radius: 7px ;
    color: white;
    cursor: pointer;
    padding: 15px;
    transition: .5s ease;
    width: 100%;
}

input[type="submit"]:hover{
    background-color: rgb(105, 126, 105);
}

.error{
    color: red;
    font-size: 10px;
}